/* About.css */

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .animated-image {
    animation: moveUpDown 1s ease-in-out infinite;
  }
  